In [4]:
date_naiss=input('entrer une date')

In [5]:
from datetime import datetime

In [6]:
date_naissance=datetime.strptime(date_naiss,'%d/%m/%Y %H:%M:%S')

In [7]:
date_naiss

'12/02/2002 11:11:11'

convertir datetime en chaine

In [8]:
date_naissance=datetime(2022,1,13,13,10,45)

In [9]:
date_naissance.strftime('%a %d-%b-%y')

'Thu 13-Jan-22'

Arithmetique sur les dates

In [10]:
duree=datetime.now()-date_naissance
duree

datetime.timedelta(days=770, seconds=3207, microseconds=851349)

Les classes

In [12]:
def calculer():
    pass

In [11]:
class Point:
    pass

In [13]:
#appel de constructeur par defaut
p1=Point()

In [78]:
from math import sqrt
class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y
    def afficher(self):
        print("Point:",self.x,",",self.y)
    def __str__(self):
        return "Point:"+str(self.x)+","+str(self.y)
    def decaler(self,dx,dy):
       self.x+=dx
       self.y+=dy
    def distance(self,p):
        dx=(self.x-p)
        dy=(self.y-p)
        d2=sqrt(dx**2+dy**2)
        return d2

In [79]:
p1=Point(3,2)

In [80]:
p1.afficher()

Point: 3 , 2

In [81]:
str(p1)

'Point:3,2'

In [82]:
p1.decaler(2,1)

In [83]:
print(p1)

Point:5,3

In [84]:
p1.distance(2)

3.1622776601683795

Gestion des exceptions

In [1]:
n1 = int(input('entrer un nombre'))
n2 = int(input('entrer un nombre'))
q=n1/n2
print(q)

ZeroDivisionError: division by zero

In [4]:
try:
    n1 = int(input('entrer un nombre'))
    n2 = int(input('entrer un nombre'))
    q=n1/n2
    print(q)
except ValueError:
    print("Vous devez entrer un int!!!!!!!!")
except ZeroDivisionError:
    print("le deuxieme nb ne peut pas etre ZERO!!!!!!!!")

Vous devez entrer un int!!!!!!!!